{% extends 'base.html' %}

{% block content %}
<h1 style="font-size: 68px; text-align: center;">About Limitless Fitness</h1>

<h2 style="font-size: 35px; text-align: center;">Welcome to Limitless Fitness, the ultimate workout app designed to take your fitness journey to new heights. Our app offers a wide range of workouts, each targeting different muscle groups, ensuring that whether you're a fitness beginner or a seasoned enthusiast, you'll find the perfect routines to meet your goals and preferences. With Limitless Fitness, you truly have the power to unleash your full potential.</h2>

<h3 style="font-size: 28px; text-align: center; margin-top: 60px;">What Sets Us Apart:</h3>

<ul style="font-size: 18px; text-align: center;">
  <li>Comprehensive selection of exercises</li>
  <li>Personalized workout routines</li>
  <li>Enhance your fitness journey with Limitless Fitness</li>
</ul>

<h2 style="font-size: 35px; text-align: center; margin-top: 80px;">Explore Limitless Fitness</h2>

<p style="font-size: 25px; text-align: center;">Visit our homepage by click on the Limitless Icon (top left) to start exploring the wide range of workouts we offer and discover how you can embark on a fitness journey that is entirely designed for you.</p>


{% endblock %}