{% extends 'base.html' %} 
{% block content %}
<div class="home__routines">
    {% for routine in routines %}

        <div class="routine mb-5">
            <h3 class="title is-3 has-text-success">{{routine.title}}</h3>
            <hr />

            {% for set in routine.sets.all %}

                <div class="set">
                    <span>{{forloop.counter}}</span>
                    <span><b>{{set.title}}</b></span>
                    <span>{{set.rep}}</span>
                    <span>
                        <!--   Here we are creating an anchor
                        tag that when clicked will hit our new
                        route and send a query to remove the set     -->
                        <a href="{% url 'routine_set_assoc' routine.pk set.pk %}?assoc=remove" class="button is-danger is-outlined">
                        <span class="icon is-small">
                            <i class="fas fa-times"></i>
                        </span>
                        </a>
                    </span>
                </div>

            {% endfor %}
        </div>
    {% empty %} 
        <div class="routine mb-5">"There are no sets in this routine"</div>
    {% endfor %}
</div>
{% endblock %}