{% extends 'base.html' %}

{% comment %} for head title tags and helping us with SEO {% endcomment %}
{% block title %}Workout{% endblock  %}

{% block content %}

<h1 class="title pt-5">Trending Workouts</h1>
<div class="gallery">
  {% for workout in workouts %}
  <a href="">
    <div class="card">
      <div class="card-image">
        <figure class="image is-square">
          <img src="{{Workout.image}}" alt="{{Workout.name}}" />
        </figure>
      </div>
      <div class="card-header">
        <p class="card-header-title">{{Workout.name}}</p>
      </div>
    </div>
  </a>
	{% empty %}
  <article class="message">
    <div class="message-header">
      <p>No Workout Available</p>
    </div>
  </article>
  {% endfor %}
</div>
{% endblock %}