{% extends 'base.html' %} 
{% block content %}
<div class="detail__img">
  <img src="{{workout.img}}" alt="{{workout.name}}" />
</div>
    <div class="detail__container">
        <!-- inside container -->
    <div class="detail__sets mb-5">
        <h3 class="title is-3">Sets</h3>
        {% for set in workout.sets.all %}
        <div class="set">
        <span>{{forloop.counter}}</span>
        <span><b>{{set.title}}</b></span>
        <span>{{set.rep}}</span>
        </div>
        <span>
          <div class="dropdown">
            <div class="dropdown-trigger">
              <button
                class="button"
                aria-haspopup="true"
                aria-controls="dropdown-menu"
              >
                <span>Add to Routine</span>
                <span class="icon is-small">
                  <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
              </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
              <div class="dropdown-content">
                {% for routine in routines %}
            <!-- each routine becomes a drop
            down item with the ids needed to add to the join table  -->
                <a
                  href="{% url 'routine_set_assoc' routine.pk set.pk %}?assoc=add"
                  class="dropdown-item"
                >
                  {{routine.title}}
                </a>
                {% endfor %}
              </div>
            </div>
          </div>
        </span>

        {% empty %}
            <article class="message">
                <div class="message-header">
                    <p>No sets Available</p>
                </div>
            </article>

        {% endfor %}
    </div>
    <!-- inside detail sets element below the header -->

<!-- Here you can see the action we provided
     is to the set_create route with the workout pk -->
    <form class="mb-5" action="{% url 'set_create' workout.pk %}" method="post">
        {% csrf_token %}
        <div class="field has-addons">
        <div class="control">
            <input
            class="input"
            type="text"
            name="title"
            placeholder="Title"
            required
            />
        </div>
        <div class="control">
            <input
            class="input"
            type="text"
            name="rep"
            placeholder="Sets/Reps"
            required
            />
        </div>
        <div class="control">
            <input class="button is-primary" type="submit" value="Add set" />
        </div>
        </div>
    </form>

<!-- before the for loop for sets -->

    <!--  above description section  -->
    <a href="{% url 'workout_update' workout.pk %}" class="button is-info">
        <span class="icon">
          <i class="fas fa-edit"></i>
        </span>
      </a>
    <a href="{% url 'workout_delete' workout.pk %}" class="button is-danger">
      <span class="icon">
        <i class="fas fa-trash-alt"></i>
      </span>
    </a>
  </div>
  <div class="detail__about">
    <h4 class="title is-4">Workout Description</h4>
    <p>{{workout.description}}</p>
  </div>
</div>

{% endblock %}